<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, We have found a new friend for you!</h1>
    <p>Based on your current interests<br>
    We have matched you with <%= @friend.first_name %></p>
    <p>Please log in to accept this new friendship and start doing cool stuff!</p>
    <p>Sincerely,
    <br/><br/>
    Your Friends at Find Me Friends.com</p>
  </body>
</html>