<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Find Me Friends <%= @user.first_name %> <%= @user.last_name %></h1>
    <p>You are now ready to start finding friends! To ensure maximum
      friends, please sign in to edit your interest to match with
      new friends!</p><br/>
    <p>To login to the site, just follow this link: <%= @url %>.</p><br/><br/>
    <p>Thanks for joining and have a great day!</p>

    <p>Sincerely,<br/><br/>
    Your Friends at Find Me Friends.com</p>
  </body>
</html>