<div class='admin-dash'>
  <h1 class="page-header">Welcome Admin </h1>
  <h2>Here you can play god; Create, destroy or meddle with our newly found friends.</h2>
  <br/>
  <div>
    <h2>Edit Chatrooms</h2>
    <%= link_to 'Chatrooms', 'admin/chatrooms' %>
  </div><br/>
  <div>
    <h2>Edit Users</h2>
    <%= link_to 'Users', 'admin/users' %>
  </div>
  <br/>
  <div>
    <h2>Edit Friendships</h2>
    <%= link_to 'Friendships', 'admin/friendships' %>
  </div>
</div><br/><br/><br/><br/><br/>