<% chatrooms.each do |chatroom| %>
  <div class='chatroom-link'>
    <% if current_user != chatroom.friendship.user %>
      <%= link_to "#{chatroom.friendship.user.first_name} #{chatroom.friendship.user.last_name}", chatroom_path(chatroom.id) %>
    <% else %>
      <%= link_to "#{chatroom.friendship.friend.first_name} #{chatroom.friendship.friend.last_name}", chatroom_path(chatroom.id) %>
    <% end %>
  </div>
<% end %>
