<% chatrooms.each do |chatroom| %>
  <div class='chatroom-link'>
    <%= link_to "#{chatroom.friends[0].first_name} #{chatroom.friends[0].last_name}", chatroom_path(chatroom.id) %>
  </div>
<% end %>
