<div class='chatroom-wrapper'>
  <div class='users-chatrooms-list'>
    <div class='scrollable'>
      <% @user_chats.each do |chatroom| %>
        <div class='chatroom-link'>
          <%= link_to "chatrooms/#{chatroom.id}" do %>
          <%= chatroom.friendship.friend.first_name %> <%= chatroom.friendship.friend.last_name %>
          <% end %></div>

      <% end %>
    </div>
  </div>

<div class='active-chatroom'>
    <h1 class='chatroom-names'>
      <i class="fa fa-comments-o" aria-hidden="true"></i> Messages
    </h1>

    <div class='messages-wrapper'>
      <div class='panel-body scrollable' id='messages'><br/>
        <h2>Select a friend to start chatting.</h1>
      </div>
    </div>

    <div class='message-form form-control'>
      Enter your message...
    </div>
  </div>
</div>
