<div class='scrollable-wrapper'>
  <div class='left-scrollable-wrapper'>
    <div class='scrollable'>
     <%= render partial: 'users_chatrooms', locals: { chatrooms: @user_chats} %>
   </div>
  </div>

  <div class='right-scrollable-wrapper-wrapper'>
    <h1 class='chatroom-names chatroom-heading'>
    <i class='fa fa-comments-o' aria-hidden='true'></i> Messages</h1>
    <div class='right-scrollable-wrapper'>
      <div class='panel-body scrollable' id='messages'><br/>
        <h2>Select a friend to start chatting.</h2>
      </div>
    </div>
  </div>
</div>
