<h1>Welcome To The Chatroom </h1>
<p>
  As you can see, everything is simple and unstyled. Currently rendering
  chatroom jsx which displayed user, messages and fwends.
</p>
<%= react_component("Chatrooms", props: @chatroom_props) %>
