New chatroom. This is only for testing/admin/development purposes.

<div>
  <% if flash[:alert] %>
    <%= flash[:alert] %>
  <% end %>
</div>

<%= form_for :chatroom, url: '/chatrooms' do |f| %>
  <span class='form-field-input'> <%= f.text_field :friendship_id, placeholder: 'Friendship id'%></span>
  <%= f.submit 'Submit', class: 'form-button' %>
<% end %>
