<div class="chatroom-div">
  <div class="friend-side">
    YOUR FRANDS
    <% @friendships.each do |friend| %>
      <div class="friend">
      <%= friend.friend.first_name %>
      </div>
    <% end %>
  </div>

  <div class="messages">
    <%= render partial: 'messages/message', collection: @chatroom.messages%>
  </div>
  <div class="message-bar">
    <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
  </div>
</div>


