<div>
  Friendships belonging to this user:
  <% @userChatrooms.each do |chatroom| %>
    <%= chatroom.friendship_id %>
  <% end %>
</div>

<div class="chatroom-div">
  <span class="friendships">
    <h1> Messenger </h1>
    <% @friendships.each do |friend| %>
      <div class="friend-side"><%= friend.friend.first_name %><br/></div>
    <% end %>
  </span>
  <div class="panel-body" id="messages">
   <%= render partial: 'messages/message', collection: @chatroom.messages%>
  </div>
  <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
</div>
