<h1>Welcome to Find Me Friends</h1>
<h2>Let us be the mutual friend that connects you to your new best friend</h2>
<%= link_to 'Login', '/login' %> | <%= link_to 'Register', '/register' %>

<h2>Meet New People</h2>
<button>How It Works</button>

<!-- <%= react_component("Welcome", props: @hello_world_props, prerender: false) %> -->
