<div class='welcome'>
  <div class='full-container'>

    <%= link_to new_user_path do %>
      <div class='navbar-item button filled button-hover'>
        <span>Signup!</span>
      </div>
    <% end %>

    <%= link_to '/login' do %>
      <div class='navbar-item button outlined button-hover'>
        <span>Login</span>
      </div>
    <% end %>

  </div>

  <div class='sub-container'>
  <h1 class='container-header'>Meet New People</h1>

  </div>

  <div class='full-container'>
    <h1 class='container-header'>How it Works</h1>
    <div class='info-box-container'>
      <div class='info-box'>
        <article>
          <img />
          <h3 class='info-box-title'>You:</h3>
          <p>
            Tell us your interests
          </p>
        </article>
      </div>

      <div class='info-box'>
        <article>
          <img />
          <h3 class='info-box-title'>We:</h3>
          <p>
            Match you with a like-minded human
          </p>
        </article>
      </div>

      <div class='info-box'>
        <article>
          <img />
          <h3 class='info-box-title'>You both:</h3>
          <p>
            Hang out and see where it goes!
          </p>
        </article>
      </div>

  </div>
</div>
