/* GENERAL VARIABLES */
$font-stack: 'Lato', sans-serif;
$font-logo:'Lobster Two', cursive;
$font-size-base: 16px;
$font-size-small: 12px;
$font-size-medium: 18px;
$font-size-large: 28px;
$font-size-logo: 40px;

$font-color-main: #1A2930;
$color-primary: #FF3B3F;
$color-secondary: #874C62;
$color-background: #A7D2CB;

$card-background-color: #FFF;
$underline-color: $color-primary;

$max-width: 1200px;
$horizontal-spacing-unit: 10px;
$vertical-spacing-unit: 10px;
$small-padding: 5px;
$large-padding: 20px;
$page-padding-top: 20px;

$default-border-radius: 5px;
$default-box-shadow: -2px 2px 8px #777;

/* PAGE SPECIFIC */
$login-border-radius: 17px;
$chatroom-sender-color: #37D7B5;
$chatroom-receiver-color: #DCDCDC;
$notification-background-color: $card-background-color;
$login-form-background: #FFF;
$welcome-page-font-color: #FFF;

/* NAVBAR/FOOTER VARIABLES */
$logo-color: $color-primary;
$navbar-box-shadow: -2px 2px 8px #777;
$navbar-font-size: 18px;
$navbar-background-color: #FFF;
$navbar-link-color: #555;
$navbar-link-hover-background-color: darkgrey;
$nav-link-color-hover: #FFF;
$navbar-link-hover-color: $color-primary;
$navbar-link-border: 1px solid $color-primary;
$navbar-height: 80px;
$footer-height: 100px;
$navbar-height-responsive: 240px;
$navbar-link-border-radius: 5px;
