/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');
@import 'css_reset';

/* Variables */
$max-width: 1200px;
$font-stack: 'Noto Sans', Open sans;
$color-background: #e7e7e8;
$color-blue: #287fb8;
$color-orange: #f89b36;
$font-logo:'Pacifico', cursive;

/* Styles added by us */
/* TODO set heading defaults */
a {
  text-decoration: none;
  color: $color-orange;
  outline: none;
	:hover {
	  color: inherit;
	  background-color: inherit;
	}
	:visited {
	  color: inherit;
	  background-color: $color-orange;
	}
}

body {
  background-color: $color-background;
  font-family: $font-stack;
}
h1 {
	text-align: center;
	font-size: 40px
}
h2 {

}
h3 {

}
p, span {

}
main {
  margin-top: 80px;
}
