/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'navbar';
@import 'shared_elements';

/* Global styles */
/* Variables*/
$max-width: 1200px;
$font-stack: Noto sans, Open sans;
$color-bright: #F89B36;
$color-pop: #FB4539;
$color-mood: #8D295B;
$color-dark: #365B36;
$color-background-dark: #AFCAC4;
$color-background-light: #E4E7EA;

/* Styles */
body {
  background-color: $color-background-light;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

a:hover {
  color: inherit;
  background-color: inherit;
}

a:visited {
  color: inherit;
  background-color: inherit;
}

main {
  margin-top: 80px;
}
