@import 'application';

.chatroom-wrapper {
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow: hidden;

  .users-chatrooms-list {
    flex: 1 1 auto;
    height: 10%;
    overflow-y: scroll;
    // display: flex;
    // flex-flow: column nowrap;
    background-color: yellow;
    .chatroom-link {
      border: 1px solid black;
      padding: 20px;
      text-align: center;
    }
  }

  .active-chatroom {
    flex: 1 1 80%;
    background-color: red;
    height: 100%;
    overflow-y: scroll;

    .panel-body {
    }

    .panel-body p {
      display: inline-block;
      margin-bottom: 20px;
      padding: 10px;
      border-radius: 20px;
      background-color: lightgrey;
      word-wrap: break-word;
    }

    .currentUser {
      text-align: right;
      p {
        background-color: #71d0b6;
      }
    }

    .message-form  {
      position: fixed;
      bottom: 0px;
      left: 0px;
      right: 0px;
      height: 50px;
      z-index: 99;
      background: white;
      padding: 10px 40px;
      resize: none;

      textarea {
        border: none;
        font-family: $font-stack;
        font-size: 16px;
        width: 100%;
      }
    }
  }
}
