@import 'application';

.chatroom-link {
  border: 1px solid $navbar-background-color;
  padding: 20px;
  text-align: center;
  background-color: $navbar-background-color;
  border-radius: $default-border-radius;
  margin: $vertical-spacing-unit $horizontal-spacing-unit 0 0;
}

.panel-body p {
  display: inline-block;
  margin-bottom: 20px;
  padding: $horizontal-spacing-unit $vertical-spacing-unit;
  border-radius: 20px;
  background-color: $chatroom-receiver-color;
  word-wrap: break-word;
  max-width: 70%;
}

.currentUser {
  text-align: right;
  p {
    background-color: $chatroom-sender-color;
    color: white;
  }
}

.message-form  {
  flex: 0 0 auto;
  z-index: 99;
  background: #FFF;
  padding: $horizontal-spacing-unit $vertical-spacing-unit;

  textarea {
    border: none;
    font-family: $font-stack;
    font-size: 16px;
    width: 100%;
    resize: none;
  }
}

.chatroom-main {
  max-width: 50%;
  margin-left: 25%;
  padding: $vertical-spacing-unit;
  background-color: $navbar-background-color;
  box-shadow: $default-box-shadow;
  border-radius: $navbar-link-border-radius;
}
