@import 'application';

.edit-user {
  max-width: 50%;
  margin-left: 25%;
  padding: $vertical-spacing-unit;
  background-color: $navbar-background-color;
  box-shadow: $navbar-box-shadow;
  border-radius: $navbar-link-border-radius;
}

.user.edit.form {
  padding: 15px;
}

.interest-list {
  padding: 3px;
}

.edit-heading {
  padding: $vertical-spacing-unit;
}
