@import 'application';

.edit-user {
  max-width: 50%;
  margin-left: 25%;
  padding: $vertical-spacing-unit;
  background-color: $card-background-color;
  box-shadow: $default-box-shadow;
  border-radius: $default-border-radius;
}

.user.edit.form {
  padding: 15px;
}

.interests-list {
  column-count: 2;
}

.interest-list {
  padding: 10px;
  font-size: 18px;
}

label.interests {
  cursor: pointer;
}

label.interests:hover {
  font-weight: 900;
}

.edit-heading {
  padding: $vertical-spacing-unit;
  border-bottom: 1px solid $underline-color;
}

.interest-heading {
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid $underline-color;
  padding: $vertical-spacing-unit;
}

.upload-photo {
  padding: $vertical-spacing-unit;
  font-size: 18px;
}
