@import 'application';

.form-field-input input {
  padding: 5px 10px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid $color-primary;
  display: inline-block;
  font-family: $font-stack;
  font-size: 18px;
  font-weight: 300;

  &:focus {
    outline: none;
    color: black;
    font-weight: 400;
  }
}

.form-button {
  -webkit-appearance: none;
  width: 100%;
  font-family: $font-stack;
  font-size: 16px;
  /* from button styling */
  cursor: pointer;
  padding: $horizontal-spacing-unit;
  min-width: 120px;
  text-align: center;
  /* from filled button styling */
  border-radius: 4px;
  border: 1px solid;
  background-color: $color-primary;
  color: #FFF;
  margin-top: $vertical-spacing-unit;

  &:hover {
    transition: all 0.5s;
    background-color: darken($color-primary, 10);
  }
}
