@import 'application';

.navbar-wrapper {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
  background-color: white;
  padding: 10px;
  box-shadow: -2px 2px 8px #777777;

  #logo {
    font-family: $font-logo;
    color: $color-orange;
  }

  .navbar {
    margin: 0 auto;
    max-width: $max-width;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .navbar-right {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }

    .logout-button {
      background-color: $color-blue;
      color: white;
    }

    .navbar-item {
      margin: 0 20px;
    }

  }
}
