@import 'application';

$navbar-height: 60px;

.navbar-wrapper {
  background-color: #FFF;
  box-shadow: -2px 2px 8px #777;
  height: $navbar-height;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 900;
  .nav {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    .nav-header {
      .nav-title.logo {
        font-family: $font-logo;
        font-size: 40px;
        color: $color-orange;
        padding: 10px;
      }
    }
    #nav-check {
      display: none;
    }
    .nav-links {
      height: 100%;
      .nav-btn {
        display: none;
      }
      .nav-item a {
          box-sizing: border-box;
          color: darkgrey;
          font-size: 18px;
          padding: 10px;
        &:hover {
          border: 1px solid $color-blue;
          border-radius: 5px;
          color: black;
        }
      }
    }
  }

  @media (max-width:800px) {
    .nav {
      .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
        span {
          display: block;
          width: 25px;
          height: 10px;
          border-top: 2px solid grey;
        }
      }
      .nav-links {
        position: absolute;
        display: block;
        background-color: #FFF;
        box-shadow: 2px 2px 8px #777, -2px 2px 8px #777;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: $navbar-height;
        right: 0;
        width: 100%;
        .nav-item {
          display: block;
          padding: 20px;
        }
      }
      #nav-check:not(:checked) + .nav-links {
        height: 0px;
      }
      #nav-check:checked + .nav-links {
        height: 30vh;
        overflow-y: visible;
      }
    }
  }
}
