@import 'application';

/* SIDEBAR */
.sidebar-wrapper {
  text-align: center;
}

.sidebar-card {
  padding: $vertical-spacing-unit $horizontal-spacing-unit;
  margin: $vertical-spacing-unit $horizontal-spacing-unit;
  text-align: center;
  background-color: $card-background-color;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
}

.notification {
  padding: $vertical-spacing-unit $horizontal-spacing-unit;
  margin: $vertical-spacing-unit $horizontal-spacing-unit;
  text-align: center;
  background-color: $card-background-color;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;

  &:hover {
    background-color: darken($card-background-color, 10);
  }
}

.sidebar-name {
  padding-top: $vertical-spacing-unit;
  border-bottom: 1px solid #ecf0f1;
}

.sidebar-email {
  padding-top: $vertical-spacing-unit;
  font-weight: 300;
}

.sidebar-title {
  border-bottom: 1px solid #ecf0f1;
}

ul.sidebar-interests-list {
  padding-top: $vertical-spacing-unit;
  font-weight: 300;
}

.sidebar-bio-content {
  padding-top: $vertical-spacing-unit;
  font-weight: 300;
}


/* FRIENDS LIST */
.friend {
  display: flex;
  flex-flow: row nowrap;
  margin: $vertical-spacing-unit $horizontal-spacing-unit $large-padding;
  background-color: $card-background-color;
  box-shadow: $default-box-shadow;
  border-radius: $default-border-radius;
  padding: 10px;
}

.name-container {
  flex: 1 0 80%;
  display: flex;
  flex-flow: column nowrap;
  .card-name-container {
    display: flex;
    flex-flow: row nowrap;
    .card-pic {
      padding: $vertical-spacing-unit $horizontal-spacing-unit;
    }
     .name-email {
      display: flex;
      justify-content: flex-end;
      flex-flow: column nowrap;
      .card-name {
        text-align: left;
        font-size: $font-size-large;
        padding: $vertical-spacing-unit 0;
      }
      .card-email {
        font-size: $font-size-small;
        font-weight: 300;
      }
    }
  }
  .card-bio {
    padding: $vertical-spacing-unit $horizontal-spacing-unit;
    font-weight: 300;
  }
}

.profile-column {
  flex: 0 0 20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;

  .card-percent {
  }

  .friend-buttons {
    padding: $vertical-spacing-unit $horizontal-spacing-unit 0 0;
    align-self: flex-end;
    text-align: right;

    .add-friend {
      .form-button {
        display: inline-block;
        width: auto;
      }
    }

    .awaiting-response {
      text-align: center;
      margin-bottom: 10px;
      font-weight: 300;
    }

    .skip-friend {
      font-size: $font-size-small;
      font-weight: 300;
      .button {
        display: inline-block;
        width: auto;
      }
    }
  }
}
