// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application';

.sidebar {
  position: fixed;
  left: 0;
  background-color: white;
  border-radius: 4px;
  min-height: 30%;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  box-shadow: -2px 2px 8px #777777;
  padding: 15px;
}

.sidebar-name {
  font-weight: bold;
  margin: 1em;
}

.sidebar-bio {}

.list-container {

  .suggestion-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    padding-top: 100px;
    margin-left: 100px;

    .friend {
      background-color: $color-primary;
      border: 1px solid $color-primary;
      box-shadow: -2px 2px 8px #777777;
      color: white;
      border-radius: 4px;
      margin: 10px 5px;
      padding: 5px 10px;
      min-width: 650px;
      max-width: 800px;
      min-height: 60px;
      text-align: center;

      .remove-filter {
        color: black;
      }
      .accept-filter {
        color: black;
      }
    }
  }
}
