@import 'application';

/* SIDEBAR */
.sidebar-wrapper {
  text-align: center;
}

.notification {
  padding: $vertical-spacing-unit $horizontal-spacing-unit;
  margin: $vertical-spacing-unit $horizontal-spacing-unit;
  text-align: center;
  background-color: $card-background-color;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
}

/* FRIENDS LIST */
.friend {
  display: flex;
  flex-flow: row wrap;
  margin: $vertical-spacing-unit $horizontal-spacing-unit $large-padding;
  background-color: $card-background-color;
  box-shadow: $default-box-shadow;
  border-radius: $default-border-radius;
  padding: 10px;
}

.name-container {
  flex: 1 0 80%;
  display: flex;
  flex-flow: column nowrap;
  .card-name-container {
    display: flex;
    flex-flow: row nowrap;
    .card-pic {
      padding: $vertical-spacing-unit $horizontal-spacing-unit;
    }
    .name-email {
      display: flex;
      justify-content: flex-end;
      flex-flow: column nowrap;
      .card-name {
        text-align: left;
        font-size: $font-size-large;
        padding: $vertical-spacing-unit 0;
      }
      .card-email {
        font-size: $font-size-small;
      }
    }
  }
  .card-bio {
    // max-width: 400px;
    padding: $vertical-spacing-unit $horizontal-spacing-unit;
  }
}

.card-percent {

}
.profile-column {
  flex: 0 0 20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;

  .friend-buttons {
    padding: $vertical-spacing-unit $horizontal-spacing-unit;
    align-self: flex-end;
    text-align: right;

    .add-friend {
    }

    .skip-friend {
      font-size: $font-size-small;
    }
  }
}
