// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application';

.sidebar {
  position: fixed;
  left: 0;
  background-color: white;
  border-radius: $navbar-link-border-radius;
  min-height: 30%;
  text-align: center;
  box-shadow: $navbar-box-shadow;
  margin-left: 10px;
  padding: $vertical-spacing-unit $horizontal-spacing-unit;
  max-width: 200px;
}

.fa.fa-user-o {
  padding: $vertical-spacing-unit $horizontal-spacing-unit;
}

.sidebar-name {
  font-weight: $font-size-large;
}

.sidebar-email {
  font-size: $font-size-small;
  padding: $vertical-spacing-unit $horizontal-spacing-unit
}

.sidebar-bio {
  padding: $vertical-spacing-unit
}

.suggestion-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items:center;
  padding-top: 100px;
  margin-left: 100px;
}

.friend {
  background-color: $navbar-background-color;
  box-shadow: $navbar-box-shadow;
  border-radius: $navbar-link-border-radius;
  padding: $vertical-spacing-unit $horizontal-spacing-unit;
  min-width: 650px;
  max-width: $profile-maxwidth;
  min-height: 60px;
  text-align: center;
}



