@import 'application';

/* Buttons with links */
.button {
  cursor: pointer;
  padding: $horizontal-spacing-unit $vertical-spacing-unit;
  min-width: 120px;
  text-align: center;

  &.outlined {
    border-radius: $navbar-link-border-radius;
    border: 1px solid $color-secondary;
  }

  &.filled {
    border-radius: 4px;
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
    color: $font-color-white;
  }

  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  &.button-hover {
    transition: all 0.5s;
  }

  &.button-hover span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  &.button-hover:hover span {
    padding-right: 25px;
  }

  &.button-hover:hover span:after {
    opacity: 1;
    right: 0;
  }
}

