@import 'application';

/* Buttons with links */
.button {
  cursor: pointer;
  padding: 10px;
  min-width: 120px;
  text-align: center;

  &.outlined {
    border-radius: 4px;
    border: 1px solid $color-mood;
  }

  &.filled {
    border-radius: 4px;
    border: 1px solid $color-mood;
    background-color: $color-mood;
    color: #FFF;
  }

  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  &.button-hover {
    transition: all 0.5s;
  }

  &.button-hover span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  &.button-hover:hover span {
    padding-right: 25px;
  }

  &.button-hover:hover span:after {
    opacity: 1;
    right: 0;
  }
}


/* Fake Modals */
.fake-modal {
  margin: 120px auto 0;
  max-width: 500px;
  border-radius: 10px;
  background-color: $color-background-medium;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);

  .modal-header {
    background-color: $color-background-dark;
    padding: 20px;

    h1 {
      color: #FFF;
    }
  }

  .modal-body {
    padding: 20px;
  }
}
