@import 'application';

main.welcome-login {
  min-width: 320px;
  max-width: 500px;
  padding: $large-padding;
  margin: 0 auto;
  background: $login-form-background;
  margin-right: 5%;
  border-radius: $login-border-radius;
  box-shadow: $default-box-shadow;
}

.welcome-page {
  margin-top: 17%;
  margin-bottom: 19%;
  display: flex;
  flex-flow: row;
  font-weight: 700;
}

.welcome-screen {
  padding: $horizontal-spacing-unit $vertical-spacing-unit * 2;
  color: $welcome-page-font-color;
  text-align: center;
  background: rgba(0,0,0,0.2);
  margin-left: 80px;
}

.flash-message {
  margin-left: 5%;
  color: $color-primary;
}

p.welcome-blurb {
  font-size: 30px;
  font-weight: 300;
  font-weight: bold;
  font-style: italic;
  line-height: 50px;
}

h1.welcome-header {
  font-size: 44px;
  padding-bottom: 31px;
}

section.welcome-tabs {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input.signup-tab {
  display: none;
}

label.welcome {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label.welcome:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: $horizontal-spacing-unit;
}

label.welcome:hover {
  cursor: pointer;
}

input.signup-tab:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid $color-primary;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 650px) {
  label.welcome {
    font-size: 0;
  }
  label.welcome:before {
    margin: 0;
    font-size: $font-size-medium;
  }
}

@media screen and (max-width: 400px) {
  label.welcome {
    padding: 15px;
  }
}

.video {
   position: fixed;
   top: 50%; left: 50%;
   z-index: 1;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   transform: translate(-50%, -50%);
}
