@import 'application';

main.welcome-login {
  min-width: 320px;
  max-width: 500px;
  padding: $large-padding;
  margin: 0 auto;
  background: white;
  margin-right: 5%;
  border-radius: $login-border-radius;
  box-shadow: $navbar-box-shadow;
}

.welcome-page {
  display: flex;
  flex-flow: row;
}

.welcome-screen {
  padding: $horizontal-spacing-unit $vertical-spacing-unit * 2;
  color: $font-color-white;
}

section.welcome-tabs {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input.signup-tab {
  display: none;
}

label.welcome {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label.welcome:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: $horizontal-spacing-unit;
}

label.welcome:hover {
  cursor: pointer;
}

input.signup-tab:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid $color-primary;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}

@media screen and (max-width: 650px) {
  label.welcome {
    font-size: 0;
  }
  label.welcome:before {
    margin: 0;
    font-size: $font-size-medium;
  }
}

@media screen and (max-width: 400px) {
  label.welcome {
    padding: 15px;
  }
}


.video {
 position: fixed;
 top: 50%; left: 50%;
 z-index: 1;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}
