<div class='tos'>
  <h1 class='tos-header'>Terms of Service</h1>
    <div class='tos-body'>
    This app was developed for the purposes of a final project for Lighthouse Labs Students. It is intended for demo purposes only, although you are free to use the site. Please note that you may not find any friends here.
    If you have any questions for the developers, or if you are looking to hire, our information is located below, on the footer. <br/>
    Thank you and we hope you enjoy our site, <br/><br/>
    <i class="fa fa-heart" aria-hidden="true"></i> Find Me Friends.
  </div>
</div>