<div class='footer-wrapper'>
  <div class='footer'>
    <%= link_to 'Admin Dashboard', [:admin, :root] %>
    <br/>
    <span class='fa fa-copyright'></span> Find Me Friends
    <br />
    Crafted with <span class='fa fa-heart'></span> in Victoria, BC
    <br />
    <a href='https://www.visualcv.com/wyattrobinson'>Wyatt Robinson, </a>
    <a href='https://www.dropbox.com/s/x6u42a2aqcyagde/Ksenia%20Owchar.pdf?dl=0'>Ksenia Owchar and </a>
    <a href='https://www.dropbox.com/home?preview=PaigeKato.pdf'>Paige Kato.</a><br/><br/>
    <a href='https://github.com/kpowch/find-me-friends'>View our repo!<br/><span class='fa fa-github fa-4x'></span></a>

  </div>
</div>

