<div class='footer-wrapper'>
  <div class='footer'>
    <span class='fa fa-copyright'></span> Find Me Friends
    <br />
    Crafted with <span class='fa fa-heart'></span> in Victoria, BC
    <br />
    <a href='https://github.com/kpowch/find-me-friends'>View our <span class='fa fa-github'></span> repo!</a>
  </div>
</div>
