<div class='footer'>
  <div class='footer-text'>
    <div class='github-link'>
      <a href='https://github.com/kpowch/find-me-friends'><span class='fa fa-github fa-2x'></span></a>
    </div>
    Crafted with <span class='fa fa-heart'></span> in Victoria, BC
    <div class='footer-links'>
      <span class='fa fa-copyright'></span> Find Me Friends 2017 by
      <a href='https://www.visualcv.com/wyattrobinson'>Wyatt Robinson</a>,
      <a href='https://www.dropbox.com/s/x6u42a2aqcyagde/Ksenia%20Owchar.pdf?dl=0'>Ksenia Owchar </a>and
      <a href='https://www.dropbox.com/home?preview=PaigeKato.pdf'> Paige Kato.</a><br/><br/>
    </div>
  </div>
</div>


