<div class='navbar-wrapper'>
  <div class='navbar'>
    <div class='logo'>
      <h1 id="logo"><%= link_to 'Find Me Friends', :root %></h1>
    </div>

    <div class='navbar-right'>

      <!-- TODO: make this a button with no border or background, then link to 'how it works' section -->
      <!-- TODO only show if on welcome page -->
      <div class='navbar-item button button-hover'>
        <span>HOW IT WORKS</span>
      </div>
        <% if current_user %>
          <%= link_to "/profiles" do %>
            <div class='navbar-item button outlined button-hover'>
              <span>Signed in as <%= current_user.first_name %></span>
            </div>
          <% end %>

          <%= link_to '/logout' do %>
            <div class='navbar-item button outlined button-hover logout-button'>
              <span>Logout</span>
            </div>
          <% end %>

        <% else %>

        <% end %>

    </div>
  </div>
</div>
